#imgLogo{
    width: 100%;
    height: auto;
}
#colIzq{
    margin: auto;
    width: 50%;
    padding: 10px;
}
#Titulo{
    font-size:5vw;
    color:black;
}
#Subtitulo{
    font-size:3vw;
}
#Texto{
    font-size:2vw;
}
#fondo{
    background:#7DCEA0  ;
}


#PanelGridSup{
    background: rgb(65, 131, 215);
}
#PanelGridIzq{
    background:rgb(107, 185, 240);
}
#PanelGridDer{
    background: rgb(107, 185, 240);
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu a:hover {
    background-color: #777;
}


@media screen and (min-width: 400px){
    #icon{
        width: 100%;
        height: auto;
}
#fondoPanel{
    background: rgb(0, 235, 252);
}
#scrollPanel{
    height: 350px;
    overflow-y: scroll;
}
}
@media screen and (min-width: 767px){
    #icon{
        width: 45%;
        height: auto;
}
#fondoPanel{
    background: rgb(252, 5, 239);
}
#scrollPanel{
    height: 600px;
    overflow-y: scroll;
}
}
@media screen and (min-width: 950px){
    #icon{
        width: 42%;
        height: auto;
}
#fondoPanel{
    background: rgb(241, 226, 6);
}
#scrollPanel{
    height: 500px;
    overflow-y: scroll;
}
}