{% extends "_base.html" %}
{% block bodycontent %}

<div class="container bg-success">
	<div class="row">
		<div class="col-12 text-center" id="PanelGridSup">
			<div style="overflow-x:auto;">
				<table width="100%" height="100%">
					<tr>
						{%for contacto in listContac%}
						<form action="/showContact" method="POST">
							<td align="center" valign="center">
								<button type="submit" class="btn btn-dark">{{contacto.Nombre}}</button>
								<input type="hidden" name="Nombre" value="{{contacto.Nombre}}">
								<input type="hidden" name="Telefono" value="{{contacto.Telefono}}">
								<input type="hidden" name="Fecha" value="{{contacto.FechaNaci}}">
								<input type="hidden" name="Correo" value="{{contacto.Correo}}">
							</td>
						</form>
						{%endfor%}
					</tr>
				</table>
			</div>
		</div>
		<div class="col-sm text-center" id="PanelGridIzq">
			<div id="scrollPanel">
				<h1 id="Titulo"> Notas</h1>
				{%for nota in listNotas%}
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Titulo</span>
					</div>
					<input type="text" class="form-control" value="{{nota.Titulo}}" aria-label="Username"
						aria-describedby="basic-addon1" readonly>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Descripcion</span>
					</div>
					<textarea type="hidden" class="form-control" aria-label="With textarea"
						readonly>{{nota.Descripcion}}</textarea>
				</div>
				<br>
				{%endfor%}
			</div>

		</div>
		<div class="col-sm text-center" id="PanelGridDer">
			<div id="scrollPanel">
				<h1 id="Titulo">Eventos</h1>
				{%for event in listEvent%}
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Titulo</span>
					</div>
					<input type="text" class="form-control" value="{{event.Titulo}}" aria-label="Username"
						aria-describedby="basic-addon1" readonly>
				</div>
				<div class="input-group">
					<div class="input-group-prepend">
						<span class="input-group-text">Fecha</span>
					</div>
					<input type="date" class="form-control" aria-label="Username" aria-describedby="basic-addon1"
						name="Fecha" value="{{event.Fecha}}" readonly>
				</div>
				<br>
				{%endfor%}
			</div>
		</div>
	</div>
	<div class="row">

	</div>
</div>
{% endblock %}