{% extends "_base.html" %}
{% block bodycontent %}
<div class="container" id="fondo" >
    <table class="table table-striped table-primary">
            <thead>
                    <tr>
                      <th class="text-center" scope="col">Tareas</th>
                    </tr>
                  </thead>
            <tbody>
    <tr>
        <td>
    <div class="container">
        <div class="row ">
            <div class="col-sm text-center" >
                <form action="/editNota" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Titulo</span>
                        </div>
                        <input type="text" class="form-control" value="{{Titulo}}" aria-label="Username"
                            aria-describedby="basic-addon1" name="EditTitulo">

                    </div>
                    <input type="hidden" name="IdTitulo" value="{{Titulo}}">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Descripcion</span>
                        </div>
                        <textarea class="form-control" aria-label="With textarea" name="EditDescripcion"
                            >{{Descripcion}}</textarea>
                    </div>
                    <br>
                    <div class="container">
                        <div class="row">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                </form>
            </div>
            <div class="col">
                <form action="/showNota" method="GET">
                    <button type="submit" class="btn btn-danger">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</td>
</tr>
</tbody>
</table>
</div>
{% endblock %}