<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome </h1>
    <h1>{{lista}}</h1>
    {% for nota in lista %}
    <p>{{nota}}</p>
    <p> {{nota.Titulo}} ,  {{nota.Descripcion}}</p>
    {% endfor %}
    <form action="/editar" method="post">
        
    <input type="text" name="InTitulo">
    <input type="text" name="InDescripcion">
    <button  type="submit">Editar</button>
    </form>
    


</body>
</html>