<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Welcome </h1>
    
    {% for nota in lista%}
    <form action="/editar" method="post">

    <input type="text" value="{{nota.Titulo}}" name="EditTitulo">
    <input type="text" value="{{nota.Descripcion}}" name="EditDescripcion">
    
    <input type="hidden" value="{{nota.Titulo}}" name="idTitulo">
    <button  type="submit">Save</button>
    </form>
    {% endfor %}
</body>
</html>