{% extends "_base.html" %}
{% block bodycontent %}
<div class="container" id="fondo">
    <table class="table table-striped table-primary">
        <thead>
            <tr>
                <th class="text-center" scope="col">Contactos</th>
            </tr>
        </thead>
        <tbody>
            {% for contacto in list%}
            <tr>
                <td>
                    <div class="container">
                        <div class="row">
                            <div class="col-10">
                                <div class="container">
                                    <div class="row">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon1">Nombre</span>
                                            </div>
                                            <input type="text" class="form-control" value="{{contacto.Nombre}}"
                                                aria-label="Username" aria-describedby="basic-addon1" readonly>

                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Telefono</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Username"
                                                aria-describedby="basic-addon1" value="{{contacto.Telefono}}" readonly>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Fecha</span>
                                            </div>
                                            <input type="date" value="{{contacto.FechaNaci}}" class="form-control"
                                                aria-label="Username" aria-describedby="basic-addon1" readonly>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Correo</span>
                                            </div>
                                            <input type="text" class="form-control" aria-label="Username"
                                                aria-describedby="basic-addon1" value="{{contacto.Correo}}" readonly>
                                        </div>
                                    </div>




                                </div>

                            </div>
                            <div class="col-2">
                                <form action="/showContact" method="POST">

                                    <input type="hidden" value="{{contacto.Nombre}}" name="Nombre">
                                    <input type="hidden" value="{{contacto.Telefono}}" name="Telefono">
                                    <input type="hidden" value="{{contacto.Fecha}}" name="Fecha">
                                    <input type="hidden" value="{{contacto.Correo}}" name="Correo">
                                    <input type="image" src="/static/img/e.png" id="icon">
                                </form>
                                <form action="/editContact" method="GET">
                                    <input type="hidden" value="{{contacto.Nombre}}" name="IdNombre">
                                    <input type="image" src="/static/img/delete.png" id="icon">
                                </form>

                            </div>
                        </div>

                    </div>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}